* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;

    width: 100dvw;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: lightgray;

    width: 75%;
    height: 60%;

    max-width: 1100px;

    padding: 15px;
    border-radius: 10px;
}

header {
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    padding: 10px;

    margin-bottom: 20px;
}

.botao_add {
    background-color: #44E160;
    color: white;
    font-weight: bold;
    font-size: 25px;

    border: none;
    border-radius: 10px;
    padding: 15px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.582);
}

dialog {
    margin: auto;
    padding: 15px;
    border: none;
    border-radius: 10px;

    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

dialog[open] {
    opacity: 1;
    transform: translateX(0);
}

.caixa_modal {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa_modal form {
    flex: 1;
}

dialog form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

dialog form div input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    margin-top: 5px;

    font-size: 20px;
}

div label{
    font-size: 20px;
}

.botoes_modal {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    gap: 200px;
}

.botoes_modal button {
    height: 50px;
    width: 144px;

    font-weight: bolder;
    font-size: 20px;

    border: none;
    border-radius: 10px;
}

.botoes_modal .botao_cancelar {
    background-color: red;
    color: white;

}

.botoes_modal .salvar {
    background-color: #44E160;
    color: white;
}

section {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.contatos {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
    border-bottom: 2px solid lightgray;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 45px;
}

.botoes button {

    background-color: rgba(0, 0, 0, 0);
    border: none;

}

.deletar span {
    color: red;
}

/* padroes */

button {
    cursor: pointer;
    transition: all .5s;
}

button:hover {
    transform: scale(1.1);
}


span.material-symbols-outlined {
    font-size: 40px;

    font-variation-settings:
        'FILL' 10,
        'wght' 700,
        'GRAD' 0,
        'OPSZ' 40;
}